*.iml
.gradle

.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/assetWizardSettings.xml

.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata

budgetku.jks
core/core-data/gradle.properties